body {
    background-color: #E7DDBF;
}

.navbar {
    background-color: #E7DDBF;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.accordion-button {
    background-color: #A59E8C;
}

.accordion {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}