body {
  background-color: peru;
}

.navbar {
  position: sticky;
  background: rgb(112,68,0);
  background: linear-gradient(90deg, rgba(112,68,0,1) 0%, rgba(154,93,0,1) 49%, rgba(176,106,0,1) 100%);
}

.nav-link {
  color: ghostwhite;
}

.nav-link:hover {
  color: burlywood;
}

.navbar-brand{
  color: ghostwhite;
}

.navbar-brand:hover {
  color: burlywood;
}


.tab {
    overflow: hidden;
    border: 1px solid rgba(112,68,0,1);
    background-color: rgba(154,93,0,1);
}
  

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
  
 
.tab button:hover {
    background-color: rgba(176,106,0,1);
}

 
.tab button.active {
    background-color: peru;
}
  
  
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid peru;
    border-top: none;
}

.jumbo1 {
  background-image: url(./media/corgi.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  padding-top: 20%;
}

.jumbo2 {
  background-image: url(./media/two\ dogs.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 938px;
  padding-top: 20%;
}

.jumbo3 {
  background-image: url(./media/dog\ with\ ball.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 938px;
  padding-top: 20%;
}

h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 3.2rem;
  color: ghostwhite;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  text-align: center;
  text-shadow: 0px 0px 3px #000000;
}

h2 {
  font-family: "Arial Black", Gadget, sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 2.8rem;
  color: ghostwhite;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  text-align: center;
  text-shadow: 0px 0px 3px #000000;
}

h3 {
  font-family: "Arial Black", Gadget, sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 35px;
  color: ghostwhite;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  text-align: center;
  text-shadow: 0px 0px 3px #000000;
  padding-top: 15px;
}

h4 {
  font-family: "Arial Black", Gadget, sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: ghostwhite;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  text-transform: none;
  text-align: center;
  text-shadow: 0px 0px 3px #000000;
}

p {
  font-family: "Arial Black", Gadget, sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: ghostwhite;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  text-transform: none;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
}

.pup {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.goog {
  display: flex;
  justify-content: center;
}

footer {
  background: rgb(176,106,0);
  background: linear-gradient(90deg, rgba(176,106,0,1) 0%, rgba(154,93,0,1) 49%, rgba(112,68,0,1) 100%);
}